* {
  margin: 0;
  padding: 0;

}

body {
  background-color: darkgrey;
  color: white;
  font-family: times;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #313E3C;
}

a.title{
  margin-left:15%;
  width: 17%;
  line-height: 100px;
  float: left;
  color: white;
  text-decoration:none;

}

span.firstA{
  font-size: 35px;
}

span.secA{
  font-size: 20px;
}

form{
  width: 33%;
  height: 100px;
  float: left;
}

input.inputText{
  width: 70%;
  padding: 10px;
  font-size: 17px;
  margin: 30px 0 0 0;
  border: 1px solid white;
  outline: none;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button.btnSearch{
    float: left;
    width:2%;
    padding: 20px;
    font-size: 17px;
    margin: 30px 0 0 0;
    background-image: url("search-icon.pn");
    background-color:#339D92;
    border: 1px solid #339D92 ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: red; /* fa fa-search ska fixas*/
    cursor: pointer;
    outline: none;
}
button.btnSearch:hover{
  background: #2B7F76 ;
  background-image: url("search-icon.pn");
}
#post{
  float: left;
  width: 13%;

}
a.AddPost{
  padding: 10px;
  line-height: 102px;
  font-size:20px;
  background: #339D92;
  text-decoration:none;
  color: white;
  border-radius: 5px;
}

a.AddPost:hover{
  background: #2B7F76;
}


#account{
  width: 3%;
  height: 40px;
  float: right;
  margin-right: 15%;
}
img{
  width: 100%;
  height: 40px;
  margin-top: 30px;
}


.accountName{
  text-decoration: none;
  color:white;
  text-align: center;
  float: left;
}



#content {
  width:70%;
  float: left;
  margin-left: 15%;
  margin-top: 1%;
  height: 650px;
  background-color: lightgrey;
  box-shadow:0 20px 10px #888888;
  text-align: center;
}


/* Full-width input fields */
.second[type=text], .second[type=password] {
  width: 100%;
  height: 40px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border-radius: 5px;
}

/* Add a background color when the inputs get focus */
.second[type=text]:focus, .second[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



/* Set a style for all buttons */
.btnSignUp{
  background-color:#339D92;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 39%;
  opacity: 0.9;
  float: left;
  font-size: 2em;
  font-family: times;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 21%;
}



button:hover {
  opacity:2;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn{
  float: left;
  width: 50%;
  background: darkred;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.signupbtn {
  float: left;
  width: 50%;
  background: #339D92;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

/* Add padding to container elements */
.container {
    width: 90%;
    color: white;
    margin-left: 5%;
    margin-top: 3%;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#658781;
}

#id01 h1{
  color: white;
  width: 100%;
}

#id01 p{
  color: white;
    width: 100%;
}

#id01{
  width: 100%;
padding-left: 25%;
color: white;
border-radius: 5px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #313E3C;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 50%; /* Could be more or less, depending on screen size */
  height: 500px;
  border-radius: 5px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #339D92;
  margin-bottom: 25px;
  background:#339D92;
}

/* The Close Button (x) */
.close {
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: white;

}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  width: 100%
}



/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

@media screen and (max-width:700px) {
  #header {
    background-color:#313E3C ;
    width:100%;
    height: 100px;
  }

  a.title{
    width:20%;
    line-height: 100px;
    margin-left: 3%;
  }

  span.firstA{
    font-size: 35px;
  }

  span.secA{
    font-size: 20px;
  }

  form{
    width:46%;
    height: 100px;
  }

  #post{
    float: left;
    width: 21%;
  }

  #account{
    width: 7%;
    float: left;
    margin-right: 3%;
  }

  #content {
    width:100%;
    margin: 0 0 0 0;
    height: 700px;
    background-color: lightgrey;
  }

}



.third[type=text], .third[type=password] {
  width: 100%;
  height: 40px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border-radius: 5px;
}

/* Add a background color when the inputs get focus */
.third[type=text]:focus, .third[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


#id02 h1{
  color: white;
  width: 100%;
}

#id02 p{
  color: white;
    width: 100%;
}

#id02{
  width: 100%;
padding-left: 25%;
color: white;
border-radius: 5px;
}

/* Set a style for all buttons */
.btnLoggin {
  background-color:#339D92;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 39%;
  opacity: 0.9;
  float: left;
  font-size: 2em;
  font-family: times;
  border-radius: 5px;
  margin-top: 21%;
  margin-left: 2%;
}



.btnLoggin:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */


/* Center the image and position the close button */
.imgcontainer2 {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.loging {
  float: left;
  width: 100%;
  background: #339D92;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

img.avatar2 {
  width: 20%;
  border-radius: 50%;
  height: 100px;
}

.container2 {
  width: 90%;
  color: white;
  margin-left: 5%;
  margin-top: 3%;
}

.container3 {
  width: 90%;
  color: white;
  margin-left: 5%;
  margin-top: 3%;

}

span.psw2 {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#658781;
}

/* Modal Content/Box */
.modal2-content{
  background-color: #313E3C;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 50%; /* Could be more or less, depending on screen size */
  height: 530px;
  border-radius: 5px;
}

/* The Close Button (x) */
.close2 {
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background: red;
  float: right;

}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.cancelbtn2 {
  float: left;
  width: 50%;
  background: darkred;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}


span.psw2 {
   display: block;
   float: right;
   color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw2 {
     display: block;
     float: none;
  }
  .cancelbtn2 {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
  }
}
